<h1>{{title}}</h1>

<h2>With JQuery</h2>

<div>
  <button id="js-connect" type="button">Connect</button>
  <button id="js-disconnect" type="button">Disconnect</button>
</div>

<div>
  <button id="js-start" type="button">Start listening</button>
  <button id="js-stop" type="button">Stop listening</button>
</div>

<div>
  <span id="js-notifications"></span>
</div>

<h2>With Angular</h2>

<app-notifications></app-notifications>

<h2>With Rx in Angular</h2>

<app-notifications-rx></app-notifications-rx>
